<section class="content-header" style="padding:0.5%  !important">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="fas fa-home"></i> &nbsp;Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item active">Tuyển sinh</li>
                    <div class="{{TitleClass}}"></div>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content cus-body">
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="Fillter">
                <div class="row" style="padding-left:10px; padding-right:10px">
                    <div class="col-md-4">
                        <label class="col-md-10">fasf:</label>
                        <input class="form-control" type="text" 
                         >
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>