.cus-body{
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
}

.cus-fs{
    font-size: 13px;font-family: sans-serif;
}
.pt10 {
    padding-top: 10px !important;
}
.cus-cr{
  color: red;
}
.cus-cb{
  color: blue;
}
.cus-ml{
   margin-left: 5px;
}
.require::after {
  content: '*';
  margin-left: 5px;
  color: red;
}
.cus-box {
    padding: 1%;
    border-radius: 5px;
    background: #efebeb;
    font-family: sans-serif;
    font-size: 14px;
}
.cus-lb-box{
  font-size:15px;font-weight:700;margin:10px;
  font-family: sans-serif;
}
.cus-texeria{
  width:100%;padding:12px 20px;box-sizing:border-box;border:2px solid #ccc;border-radius:4px;resize:none;
}
.cus-fs13{
  font-size: 14px;
}
.icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-body {
    a {
      color: inherit;
      text-decoration: none;
      font-size: 20px;
    }
  }
  