@import 'admin-lte/Login/css/main.css';
@import 'admin-lte/Login/css/util.css';
@import 'admin-lte/Login/vendor/bootstrap/css/bootstrap.min.css';
@import 'admin-lte/Login/vendor/animate/animate.css';
@import 'admin-lte/Login/vendor/animsition/css/animsition.min.css';
@import 'admin-lte/Login/vendor/daterangepicker/daterangepicker.css';
@import 'admin-lte/Login/vendor/select2/select2.min.css';
@import 'admin-lte/Login/vendor/css-hamburgers/hamburgers.min.css';

.label_login {
  font-family: sans-serif;
  font-weight: 500 !important;
}
.wrap-input {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: end;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  margin-bottom: 10px;
}

.registertxt {
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #555555;
  font-weight: 700;
}
.wrap-input100 {
  border-radius: 20px;
}
