<aside
  #mainSidebar
  class="main-sidebar sidebar-light-primary elevation-4 cus-text"
  style="overflow: visible !important;"
>
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <img
      src="assets/img/unilogo.png"
      alt="UniSurvey"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8;"
    />
    <span class="brand-text font-weight-light">UniEnroll</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li id="menu1" class="nav-item menu-open">
          <a
            class="nav-link cus-bg"
            (click)="menu('menu1')"
            style="background: #418994; color: white;"
          >
            <i class="far fa-file-alt"></i>&nbsp;
            <p>
              Tuyển sinh
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/CreateSudents']"
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <p><i class="fas fa-university"></i> Tiếp nhận HS tuyển sinh</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/Approved']"
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <p>
                  <i class="fas fa-file-signature"></i> Xét duyệt HS tuyển sinh
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li id="menu2" class="nav-item menu-open">
          <a
            class="nav-link"
            (click)="menu('menu2')"
            style="background: #418994; color: white;"
          >
            <i class="far fa-address-card"></i>&nbsp;
            <p>
              Sinh viên nhập trường
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/ReceivePapers']"
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-calendar-check"></i>
                <p style="margin-left: 5px;">Nhận giấy tờ nhập trường</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/Fee']"
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fab fa-searchengin"></i>
                <p style="margin-left: 5px;">Thu học phí, phí nhập học</p>
              </a>
            </li>
          </ul>
        </li>
        <li id="menu3" class="nav-item menu-open">
          <a
            class="nav-link"
            (click)="menu('menu3')"
            style="background: #418994; color: white;"
          >
            <i class="far fa-chart-bar"></i>&nbsp;
            <p>
              Quản lý lớp
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/ListClass']"
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-chart-line"></i>
                <p style="margin-left: 5px;">Danh sách lớp</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/Distribute']"
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="fas fa-chart-line"></i>
                <p style="margin-left: 5px;">Phân lớp cho sinh viên</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
</aside>
